body{
    background-color: #fff;
}
header {
    background-color: #FFF;
}
.container{
    background-image: linear-gradient(to bottom right, purple, green );
}
.icon {
    background-color: #FFF;
    border-bottom: 5px solid #000;
}
.icon img {
    width: 75px;
    padding: 3px;
    margin-left: 20px;
    justify-content: center;
}
.title {
    color: #FFF;
}
.title h1 {
    padding: 15px;
    font-family: Helvetica, sans-serif
    display: flex;
	text-align: center;
	justify-content: center;
	font-size: 50px;   
    text-shadow: 2px 2px 3px black;

}
.title h2 {
    font-size: 18px;
    text-align: center;
	justify-content: center;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 3px black;
}
.title p {
    font-size: 18px;
    text-align: center;
	justify-content: center;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
}
.heath1 {
    background-color: #FFF;
    border: 2px solid #000;
    box-shadow: 7px 7px 3px black; ;
    border-radius: 10px;
    width: 530px;
}
.heath1 img {
    width: 500px;
    padding: 5px;
    margin: 5px;
}
.legenda-img {
    font-size: 15px;
	text-align: center;
	padding-bottom: 5px;
    font-family: arial;
    margin-bottom: 10px;
}
.vida_heath h1{
    margin-top: 60px;
    color: #FFF;
    font-size: 35px;
    text-align: center;
	justify-content: center;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 3px black;
    padding-bottom: 35px;
}
.vida_heath p { 
    font-size: 18px;
    text-align: center;
	justify-content: center;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    text-shadow: 1px 1px 3px black;
    padding: 10px;
    text-align: justify;
}
.vida_heath h2{
    margin-top: 20px;
    color: #FFF;
    font-size: 25px;
    text-align: left;
    padding-left: 20px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 3px black;
}
.h2 {
    padding-top: 20px;
}
footer {
    background-color: #FFF;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 5px solid #000;

}
.copy_1 {
    color: black;
    padding: 15px;
    text-align: center;
    
}
footer a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
footer a:hover {
    text-decoration: underline;
    color: purple;
}
.final-content {
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.final-content h1 {
    margin-top: 20px;
    color: #FFF;
    font-size: 25px;
    text-align: left;
    padding-left: 20px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 3px black;
}
.final-content p {
    font-size: 18px;
	justify-content: left;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    text-shadow: 1px 1px 3px black;
    padding: 10px;
    text-align: justify;
}
.final-content img {
	margin-top: 15px;
    width: 250px;
}
.mds {
    display: flex;
}
.final_content_2 img {
    width: 150px;
    padding-left: 50px;
}
.final_content_2_1 h1 {
    margin-top: 20px;
    color: #FFF;
    font-size: 30px;
    padding-left: 20px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 3px black;
}
.final_content_2_1 p {
    font-size: 18px;
	justify-content: left;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    text-shadow: 1px 1px 3px black;
    padding: 10px;
    text-align: justify;
    margin-right: 30px;
}
.death h1 {
    margin-top: 25px;
    color: #FFF;
    font-size: 30px;
    padding-left: 20px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 3px black;
}
.death p {
    font-size: 18px;
	justify-content: left;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    text-shadow: 1px 1px 3px black;
    padding: 10px;
    text-align: justify;
    margin-right: 30px; 
    margin-bottom: 0;
}
